<div class="passwordgeneration">
<div class="heading">
  <h1 style="font-family:Inria Sans;"><%= image_tag("Vector1.png") %> <%= image_tag("Maze (1).png") %></h1>
</div>
<div class="linee">
  <hr>
</div>

  <div class="nestedpass">
<div class="forgetpass"><h2>Forgot your password?</h2></div>

    <br>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

      <br>

  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>

      <br>
<% end %>

    <div class="renderpass"><%= render "devise/shared/links" %></div>
</div>
</div>
